.gamespace {
	height: 500px;
	width: 600px;
	background-color: black;
	display: inline-block;
	opacity: 1;
	border: 50px solid black;
}
body {
	background-color: #f4f4f4;
	text-align: center;
	font-family: 'Righteous', cursive;

}
h2 {
	/*font-family: 'Righteous', cursive;*/

}
#score {
	text-align: center;
	/*padding-right: 90px;*/
}
#scorediv {
	margin-top: -30px;
	display: inline-block;
	text-align: center;
	padding-right: 10px;
	float: left;
	padding-left: 50px;
}
#timeleft {
	font-size: 20px;
}

.dot {
	background-color: white;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: relative;
	/*display: inline;*/
	/*z-index: 1;*/
	/*left: 0px;*/
}
.buttons {
	display: inline;
	float: left;
	clear: left;
	padding-top: 100px;
	/*table-layout: fixed;*/
	/*border-collapse: collapse;*/
	/*position: absolute;*/
	left: 30px;
}
button {
	font-size: 20px;
	padding: 1rem 1rem;
	width: 200px;


}
#easybutton {
	background-color: green;
	color: white;
}
#normalbutton {
	background-color: blue;
	color: white;
}
#hardbutton {
	background-color: red;
	color: white;
}
#extremebutton {
	background-color: black;
	color: white;
}