.gamespace {
	height: 500px;
	width: 600px;
	background-color: black;
	display: inline-block;
	opacity: 1;
	border: 50px solid black;
	align-items: center;
	right: auto;
	left: auto;
	margin: 0 auto;
}
body {
	background-color: #f4f4f4;
	text-align: center;
	font-family: 'Righteous', cursive;

}
h2 {
	padding-left: 15px;
	padding-right: 15px;

}
#container {
	display: flex;
	align-content: center;
	align-items: center;
}
#score {
	text-align: center;
	font-size: 30px;
}
#scorediv {
	text-align: center;
	margin: 0 auto;
	left: auto;
	right: auto;
	top: 150px;
}
#timeleft {
	font-size: 20px;
}

.dot {
	background-color: white;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: relative;
}
.buttons {
	padding-top: 10px;
	padding-bottom: 20px;
	left: 30px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}
button {
	font-family: 'Righteous', cursive;
	display: flex;
	font-size: 20px;
	padding: 1rem 1rem;
	width: 200px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border-radius: 30px;
}
#easybutton {
	background-color: rgb(180, 255, 127);
	color: black;
}
#normalbutton {
	background-color: rgb(107, 202, 249);
	color: white;
}
#hardbutton {
	background-color: rgb(249, 119, 119);
	color: black;
}
#extremebutton {
	background-color: black;
	color: white;
}


.modal-start {
  padding: 0px;
  background-color: rgba(0, 0, 0, .3);
  display: block;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
    display: none;
  }
}

.startanim {
	animation: unfoldOut 1s forwards;
}

.modal-end {
  padding: 0px;
  background-color: rgba(0, 0, 0, 1);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: unfoldIn 1s;
  min-height: 100vh;
}
@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);

  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
    display: none;
  }
}
h3 {
	font-size: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#starttitle {
	font-size: 100px;
	padding-top: 40px;
}
#endingscore{
	font-size: 40px;
}
#finalscore {
	font-size: 50px;
	margin-top: 25px;
	margin-left: 10px;
}
#endingaccuracy {
	font-size: 40px;
}
#accuracyscore {
	font-size: 40px;
	margin-top: 0;
	padding-top: 37px;
	padding-left: 10px;
}
#accuracy {
	font-size: 40px;
}
#accuracycontent {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
}
#scorecontent {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
}
.modal-content {
	background-color: white;
	height: 80%;
}
.endmodal-content {
	background-color: white;
	height: 75%;
}
#playbutton {
	font-family: 'Righteous', cursive;
	font-size: 40px;
	width: 450px;
	height: 80px;
	background-color: rgb(35, 19, 140);
	color: white;
}
#percentage {
	font-size: 40px;
	padding-top: 2px;
	display: inline;
}
.countdown {
  	display: none;
}
.addmodal {
	font-family: 'Dokdo', cursive;
	font-size: 600px;
	color: rgb(34, 77, 145);
	padding: 0px;
  	background-color: rgba(0, 0, 0, .0);
  	display: block;
  	position:fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	margin: auto auto;
	animation: roadRunnerIn 1s forwards;
}
.removemodal {
	font-family: 'Dokdo', cursive;
	font-size: 600px;
	color: rgb(34, 77, 145);
	padding: 0px;
  	background-color: rgba(0, 0, 0, .0);
  	position:fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	margin: auto auto;
	animation: roadRunnerOut 1s forwards;
}
@media screen and (max-width: 886px) {
	* {
		font-size: .9rem;
	}
	button {
		font-size: 13px;
		width: 150px;
	}
	h3, p {
		font-size: 35px;
	}
	#scorediv {
		width: 100%;
		display: flex;
		padding-left: 0;
		justify-content: center;
	}
	#playbutton {
		width: 250px;
		font-size: 55px;
	}
	#starttitle {
		font-size: 25px;
		padding-bottom: 50px;
	}
	.buttons {
		display: flex;
		flex-wrap: wrap;
		padding-top: 5px;
		padding-bottom: 15px;
	}
	#score, #timeleft {
		font-size: 30px;
	}
	#endingscore{
		font-size: 25px;
	}
	#finalscore {
		font-size: 30px;
		margin-top: 18px;
	}
	#endingaccuracy {
		font-size: 25px;
	}
	#accuracyscore {
		font-size: 30px;
		padding-top: 19px;
	}
	#percentage {
		padding-top:20px;
	}
	#container {
		display: block;
	}

}